
.sidebar {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: var(--theme-color-secondary);
  font-family: 'Roboto', sans-serif;
}

.profileImg {
  width: 30%;
  height: 30%;
  border-radius: 25%;
}